<%provide(:title,"Home")%>
<div class="container-fluid">
  <div class="homepage-settings">
    <p> put settings here</p>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-8 section">
    <p>Put News Here</p>
  </div>
  <div class="col-md-4 section">
    <p>Put Options here</p>
  </div>
</div>