<%provide(:title,"Home")%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="options-section-top section home-form">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default <%= home_button_class(@display, "recent") %> " onclick='window.location.href = "/";'>Recent Posts</button>
          <button type="submit" value="submit" form="selected-topics" class="btn btn-default <%= home_button_class(@display, "selected") %>">Selected Topics Only</button>
          <button type="button" class="btn btn-default" onclick='window.location.href = "/";'>My Settings</button>
        </div>
        <div class="input-group">
          <form action="">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
          </form>
        </div>
        <div class="new-post-btn">
          <button type="button" class="btn btn-primary btn-md" onclick='window.location.href = "/";'>New Post</button>
        </div>
      </div>
      <table class="table table-bordered">
        <th>News Posts</th>
        <tbody>
          <tr>
            <td class="post">
              <div class="post-image">
                <%= image_tag("account_circle_white.svg", alt: "Logged Out User") %>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="post-heading col-xs-12">
                    bruh
                  </div>
                  <div class="post-details col-xs-9">
                    Post by "xXDestroyerXx", Date: bla bla, News
                  </div>
                  <div class="post-stats col-xs-3">
                    X commments | X views
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 section">
      <div class="options-section">
        <div class="options-heading">
          Recent Members
        </div>
        <div class="options-content">
          To FIll
        </div>
      </div>
      <div class="options-section">
        <div class="options-heading">
          Topics
        </div>
        <div class="options-content">      
          To Fill
        </div>
      </div>
      <div class="options-section">
        <div class="options-heading">
          Posts
        </div>
        <div class="options-content">      
          To Fill
        </div>
      </div>
      <div class="options-section">
        <div class="options-heading">
          Links
        </div>
        <div class="options-content">      
          <ul class="list-group">
            <button type="button" class="list-group-item" onclick='window.location.href = "https://www.rmit.edu.au/"'>RMIT</button>
            <button type="button" class="list-group-item" onclick='window.location.href = "https://rubyonrails.org/"'>RubyOnRails</button>
            <button type="button" class="list-group-item" onclick='window.location.href = "https://github.com/mattasymmetric"'>Matthew Walters (GitHub)</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>