<%provide(:title,"Home")%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 section">
      <div class="options-section-top">
        <div class="options-heading">
          Top Option Bar
        </div>
        <div class="options-content">
          1, 2, 3, 4
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 section">
      <table class="table table-bordered">
        <th>User News Posts</th>
        <tbody>
          <tr>
            <td class="post">
              <div class="post-image">
                <%= image_tag("account_circle_white.svg", alt: "Logged Out User") %>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="post-heading col-xs-12">
                    REEEEEEEEEEEEEEEEEEEEEEE the night away!
                  </div>
                  <div class="post-details col-xs-9">
                    Post by "xXDestroyerXx", Date: bla bla, News
                  </div>
                  <div class="post-stats col-xs-3">
                    X commments | X views
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 section">
      <div class="options-section">
        <div class="options-heading">
          Section 1
        </div>
        <div class="options-content">
          1, 2, 3, 4
        </div>
      </div>
      <div class="options-section">
        <div class="options-heading">
          Section 2
        </div>
        <div class="options-content">
          5, 6, 7, 8
        </div>
      </div>
    </div>
  </div>
</div>