<%provide(:title,@user.displayname)%>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%=gravatar_for@user%>
        <%=@user.displayname%>
        <% if logged_in? %>
          <% if @current_user.admin? && !current_user?(@user) %>
          | <%= link_to "Delete User", @user, method: :delete, 
            data: {confirm: "Are you sure you want to delete this user?"}%>
          <%end%>
        <%end%>
      </h1>
    </section>
  </aside>
</div>