@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */

$header-background: #263238;
$area-background: #eeeeee;
$light-text-colour: #dcdcdc;
$active-colour: #e67e22;
$main-background: #e0e0e0;
$heading-background: #b0bec5;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* All Elements */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Typography */

/*typography*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Nav bar*/

.navbar {
  padding: 1.5rem 0;
  background-color: $header-background;
}

.active a {
  background-color: $header-background !important;
}

.navbar-nav {
  padding-left: 5rem;
}

.nav > li {
  max-width: 20rem;
}

.nav > li > a {
  margin: 0 1.25rem;
}

.navbar-inverse .navbar-nav > li > a {
  color: $light-text-colour;
}

.navbar-nav .active a::after {
  border-bottom: 5px solid $active-colour;
  width: inherit;
  bottom: 0rem;
  content: " ";
  left: 0;
  right: 0;
  position: absolute;
}

.navbar-brand {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.dropdown-toggle.user-image {
  padding: 0 !important;
}

.dropdown-menu {
  position: absolute;
  min-width: 0;
}

/* Footer */

.footer {
  background-color: $header-background;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;

  div {
    color: $light-text-colour;
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
  }
}

/* Form Errors */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid#bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-link {
  float: right;
}

.user-session-form {
  background-color: $area-background;
}

/* User show */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  border-radius: 50%;
}
.gravatar_edit {
  margin-top: 15px;
}

/* Form inputs */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Home Page Content */

@mixin section-heading-bar {
  @extend h4;
  background-color: $heading-background;
}
.col-md-8,
.col-md-4,
.col-md-12 {
  padding: 1rem;
}

body {
  background-color: $main-background;
}

.container-fluid {
  width: 95%;
}

/* All Posts */
table {
  th {
    @include section-heading-bar;
  }
}

.post {
  display: flex;
  align-items: center;
  background-color: $area-background;
  .post-image {
    width: 60px;
    margin: 0;
    padding: 0.125rem;
    padding-left: 0.7rem;
  }

  .container-fluid .row {
    .post-heading {
      @extend h5;
    }
    .post-details,
    .post-stats {
      @extend h6;
    }
  }
}

.options-section,
.options-section-top {
  background-color: $area-background;
  margin-bottom: 2.5rem;
  .options-heading {
    margin-top: 0;
    padding: 1rem;
    @include section-heading-bar;
  }
  .options-content {
    padding: 1rem;
  }
}

.options-section-top {
  margin-bottom: 1rem;
  background-color: $main-background;
}

.home-form {
  width: 100%;
  height: 35px;
  .btn-group {
    float: left;
  }
  .input-group {
    padding-left: 0.5rem;
    float: left;
    form {
      display: flex;
    }
  }
  .new-post-btn {
    float: right;
  }
}

.active-button {
  color: orange;
}